
.table-container {
    overflow: hidden;
    margin: 80px 0px 80px;
    border: solid 1px $lightBlue;
    &:hover {
        overflow: auto;
    }
}

.table-container-no-data {
    border: 0px;
    overflow: auto;
    margin: 80px 0px 60px;
    text-align: center;
    font-weight: bold;
    color: $darkBlue;
}

.pager {
    margin: 10px 0;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: gray;
    box-shadow: 0 0 5px lightgray;
    -webkit-box-shadow: 0 0 5px lightgray;
}