.container {
    padding-left: 0;
    padding-right: 0;
}
#table-container {
    border: solid 1px $lightBlue;
    overflow: hidden;
    margin: 60px 0px 0px;
}

.table-container-no-data {
    border: 0px;
    overflow: auto;
    margin: 60px 0px 0px;
    text-align: center;
    font-weight: bold;
    color: $darkBlue;
}

.pager {
    margin: 10px 0;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
    background: white;
    border: solid 1px $lightBlue;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: gray;
}

#options-column {
    position: fixed;
    max-width: 240px;
    min-width: 240px;
    width: 240px;
    overflow: hidden;
    z-index: 1;
    border-right: solid 1px white;
}
#options-contents {
    z-index: -1;
    overflow-x: overlay;
}

#contents-container {
    margin-left: 240px;
}

.img-thumb {
    height: 95px;
    max-height: 95px;
}