table {
    min-width: 100%;
    border-collapse: collapse;
    border: solid 1px $lightBlue;
}

th, td {
    padding: 10px;
    padding-bottom: 15px;
    border-left: 1px solid white;
    min-width: 240px;
    max-width: 240px;
}

th {
    background-color: $darkBlue;
    vertical-align: middle;
    &:first-child {
        border-left: 0;
    }
    &.del-highlight {
        background-color: $delRed !important;
    }
    &.col-menu-highlight {
        background-color: $colGreen !important;
    }
    .score-display, .score-editing {
        color: whitesmoke;
        font-size: 12px;
    }
    .score-editing {
        background-color: lighten($darkBlue, 5%);
        border: 0;
    }
    &:hover {
        background-color: lighten($darkBlue, 5%);
        .details-bar {
            visibility: visible;
        }
    }
}

td {
    vertical-align: top;
    &:hover {
        .details-bar {
            visibility: visible;
        }
    }
    &.secondary-heading {
        color: white;
        font-weight: bold;
        text-transform: capitalize;
        border-left: 0;
        > a.del-button {
            float: left;
        }
        > span.score-display, > input.score-editing {
            // display: none;
            float: right;
            &:hover{
                background-color: $lightBlue;
            }
        }
    }
}

.no-display, .no-display:hover {
    visibility: hidden !important;
}

tr {
    background-color: white;
    td {
        border-left-color: #e2f2ff;
    }
    .secondary-heading{
         background-color: lighten($lightBlue, 30%); 
         &.del-highlight {
            background-color: $delRed !important;
        }
    }
    &:nth-child(even) {
        background-color: #e2f2ff;
        td {
            border-left-color: white;
        }
    }
    &:nth-child(even) .secondary-heading {
        background-color: lighten($lightBlue, 20%); 
    }
}

.col-menu-highlight {
    background-color: lighten($colGreen, 25%);
    opacity: 0.8;
}

a.del-button{
    color: lightgray;
    &:hover {
        cursor: pointer;
        text-decoration: none;
        color: darkred;
    }
}

.div-delete > a.del-button {
    float: right;
}


.del-button {
    width: 5px;
    padding-right: 15px;
}

a.col-menu-button{
    color: gray;
    &:hover {
        cursor: pointer;
        text-decoration: none;
        color: darkgreen;
    }
}
.col-menu-button {
    float: right;
    width: 10px;
    padding: 0;
}

.del-highlight {
    background-color: lighten($delRed, 25%);
    opacity: 0.8;
}

.option-display, .data-display, .data-editing {
    line-height: 16px;
    margin: -5px 25px 0px 15px;
    padding: 0;
    display: block;
    overflow: hidden;
}

.option-editing {
    @extend .option-display;
    background-color: $lightBlue;
    padding:0;
    border: 0;
}

.name-display {
    @extend .option-display;
    color: white;
    text-transform: uppercase;
}

.name-editing {
    @extend .name-display;
    background-color: lighten($darkBlue, 5%);
    padding:0;
    border: 0;
}

.score-display, .score-editing {
    font-weight: normal;
    font-style: italic;
    font-size: 10px !important;
    width: 30px;
    padding: 0; margin: 0;
}

.details-bar {
    vertical-align: super;
    visibility: hidden;
}

.header-head>.name-display, .secondary-heading>.option-display {
    margin: 15px 25px 0px 15px;
}

.option-count {
    float: left;
    margin-top: 15px;
    line-height: 16px;
    min-width: 30px;
}


.table-table {
    margin-right: 10px;
}