.modalStyle {
    position: fixed;
    z-index: 1040;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0
}

.dialogStyle {
    position: absolute;
    width: 400px;
    top: 10px;
    left: 20%;
    max-height: 500px;
    overflow: scroll;
    border: 1px solid #e5e5e5;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.input-text {
    padding: 5px 5px 5px 0;
    color: black;
}

span.input-text {
    display: block;
    font-weight: bolder;
    text-transform: capitalize;
}

.new-data input {
    box-sizing: border-box;
    padding: 5px;
    background: transparent;
    border: 2px solid gray;
    border-radius: 2px;
    width: 270px;
    font-size: 1em;
    margin-bottom: 10px;
    margin-right: 6px;
}

.new-table input {
    box-sizing: border-box;
    padding: 5px;
    background: transparent;
    border: 2px solid gray;
    border-radius: 2px;
    width: 100%;
    font-size: 1em;
    margin-bottom: 10px;
}

.form-header {
    color: #337ab7;
}

.new-data input.form-header {
    border: 3px solid #337ab7;
    padding: 8px;
}

.content-form {
    max-height: 400px;
    overflow: auto;
    margin-bottom: 10px;
}

input[type=number] {
    width: 60px;
    font-size: 1em;
}

input[type=text].score-display {
    width: 60px;
    font-size: 1em;
    font-weight: bolder;
    color: white;
    background-color: lightgray;
    text-shadow: #337ab7 1px 1px 3px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor: pointer;
    display: block;
    color: #333;
    text-align: center;
    background: #fff url('http://i.stack.imgur.com/YYySO.png') no-repeat 50% 50%;
    opacity: 1;
    width: 14px;
    height: 14px;
    padding: 2px;
    position: relative;
    right: 0px;
    border-radius: 28px;
}

textarea {
    width: 100%;
}