.modalStyle {
    position: fixed;
    z-index: 1040;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0
}

.dialogStyle {
    position: absolute;
    width: 400px;
    top: 10px;
    left: 20%;
    max-height: 500px;
    overflow: scroll;
    border: 1px solid #e5e5e5;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 20px
}

.input-text {
    padding: 5px 5px 5px 0;
    color: black;
    font-weight: bolder;
}

.new-data input {
    box-sizing: border-box;
    padding: 5px;
    background: transparent;
    border: 2px solid gray;
    border-radius: 2px;
    width: 100%;
    font-size: 1em;
    margin-bottom: 10px;
}

.new-data input:focus {
    outline: 0;
}

.form-header {
    color: #337ab7;
}

.new-data input.form-header {
    border: 3px solid #337ab7;
    padding: 8px;
}

.content-form {
    max-height: 400px;
    overflow: auto;
    margin-bottom: 10px;
}