
#login-dropdown-list {
    position: absolute;
    top: 30px;
    left: -180px;
}

#login-buttons .login-button, .accounts-dialog .login-button {
    background-color: #337ab7
}

#login-buttons a  {
    text-decoration: none;
    font-weight: bolder;
}

.navbar-header .navbar-text {
    color:#337ab7;
    font-weight: bolder;
    margin-left: -8px;
}

.navbar {
    max-height: 50px;
    color:#337ab7;
    font-weight: bolder;
}
li>a.disabled, li>a.disabled>a:hover {
   pointer-events: none;
   cursor: default;
   background-color: white;
   color: lightslategray;
}
.dropdown-menu{
    min-width: 100px;
    padding: 10px 0;
}