.table-container{
    min-width: 100%;
    overflow: auto;
}
table {
    margin-left:    0px;
    margin-right:   0px;
    margin-top:     60px;
    border-spacing: 0;
    border-collapse: collapse
}
th, td {
    vertical-align: middle;
    padding: 10px;
    border: 1px solid green;
}
th {
    background-color: #006400;
    color: white;
}
td.secondary-heading{
    background-color: #32CD32;
    color:white;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}

.divdelete a {
    display: none; /* Hide button */
}
a.red {
    color:red;
}
a.orange {
    color:orange;
}
.divdelete:hover a {
    display: block; /* On :hover of div show button */
    cursor: pointer;
    float:left;
    text-decoration: none;
}
.delbutton {
    width:0px;
}