table {
    min-width: 100%;
    border-collapse: collapse;
}

th,
td {
    vertical-align: middle;
    padding: 10px;
    border-left: 1px solid #0099cc;
}

th {
    background-color: #004d66;
    color: white;
    text-transform: capitalize;
    font-variant: small-caps;
}

th:first-child {
    border-left: 0px;
}

td.secondary-heading {
    color: #004d66;
    font-weight: bold;
    text-transform: capitalize;
    border-left: 0px;
}

tr:nth-child(even) {
    background-color: #e2f2ff
}

.divdelete a {
    color: lightgray;
    padding-right: 20px;
}

.divdelete:hover a {
    cursor: pointer;
    text-decoration: none;
}

.delbutton {
    width: 10px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #004d66;
    ;
    box-shadow: 0 0 10px #337ab7;
    -webkit-box-shadow: 0 0 10px #337ab7;
}

.del-highlight {
    background-color: #ffcccc;
}

th.del-highlight {
    background-color: #ff4d4d;
}