#login-dropdown-list {
    position: absolute;
    top: 30px;
    left: -180px;
}

#login-buttons .login-button,
.accounts-dialog .login-button {
    background-color: $lightBlue
}

#login-buttons a {
    text-decoration: none;
    font-weight: bolder;
}

.navbar-header .navbar-text {
    color: $lightBlue;
    font-weight: bolder;
    margin-left: -8px;
}

.navbar {
    max-height: 50px;
    color: $lightBlue;
    font-weight: bolder;
}

.dropdown-menu {
    min-width: 100px;
    padding: 10px 0;
}

.green {
    color: green !important;
}


.blue {
    color: $lightBlue !important; 
}