.row {
    margin: 0;
}

.public {
    background: lightgray;
}

.private {
    background: lightblue;
}

.caption>span {
    float: left;
    color: black;
}

.thumbnail>div>a {
    margin: 5px;
}

.caption {
    background: white;
    overflow: auto;
    word-wrap: break-word;
}

.caption {
    height: 130px;
}