.row {
    margin: 0;
}

.public {
    background: lightgray;
}

.private {
    background: lightblue;
}


.thumbnail {
    &>div{
        &>a{
            margin: 5px;
        }
    }
}

.caption {
    background: white;
    overflow: auto;
    word-wrap: break-word;
    height: 130px;
    &>span{
        float: left;
        color: black;
    }
}