// define the colors used
$darkBlue: #004d66;
$lightBlue: #337ab7;

$delRed: #ff4d4d;
$colGreen: #2eb82e;

$btnRed: #de4f4f;

// define the icons used
// $private: 'glyphicon glyphicon-eye-close';
// $public: 'glyphicon glyphicon-eye-open';

